 @font-face {
   font-family: 'BMJUA';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
body {
  background-color: #F2F2F2;
  font-family:"BMJUA", sans-serif;
  color:#50C878;
 margin: 0;
}
.container {
 width: 600px;
 height: 100%;
 margin: Auto;
 background-color: #ffffff;
}
a:visited {
  font-weight:bold;
}
